
**/obj/

**/bin/

.vs/

.vscode/

API/appsettings.json

API/API.csproj.user

node_modules/

client-app/package-lock.json

client-app/debug.log

API/data/quickstart055f25be-69a2-4c28-8e5d-897f7430c820.txt

API/data/quickstart0f87705c-d901-45b6-868d-320720ab3eee.txt

API/data/quickstart26a18092-9409-4de1-9e94-dc37b8ccf17e.txt

API/data/quickstart2a98d6ff-8465-45a6-9afa-9b8a72c85734.txt

API/data/quickstart4cfc3f94-e571-4ae1-9500-45f0934d4328.txt

API/data/quickstart93f4d05e-2a70-4aca-b45e-9862b6da00ea.txt

API/data/quickstarte3adbf58-45bf-4337-9395-48dba92fabf8.txt

API/data/quickstartec4755eb-d9ac-4f34-b69e-c7feec6ebed8.txt

debug.log

client-app/src/test docs/doc (3).pdf

client-app/src/test docs/doc (2).pdf

API/wwwroot/

API/publish/
