@using Templates.ViewModels
@model HelloWorldViewModel
 
@{

    ViewContext.ViewData["EmailTitle"] = "Hello World!";
}

<p>
    It looks like you may have just sent your first custom email!
</p>


@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Let's Go!", Model.ButtonLink))

<p>
Joao Romao
</p>